footer
  .container.text-center
    p.pull-left © 2016 healthLab, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bretth18/healthLab') GitHub Project
      li
        //TODO: insert github 
        a(href='https://github.com/bretth18/healthLab/issues') Issues
