<template name="_footer">
  <footer class="page-footer">
    <!-- <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h3 class="white-text">Footer Title</h3>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Footer Title</h3>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Footer Title</h3>
          <p class="grey-text text-lighten-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio.
          </p>
        </div>
      </div>
    </div> -->
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright healthLab.io 2016
        <a href="https://github.com/bretth18/healthlab" class="pull-right">GitHub</a>
        <a href="/privacy" class="pull-right">Privacy Policy</a>
      </div>
    </div>
  </footer>
</template>
