/* CSS declarations go here */
// @import '{}/node_modules/materialize-csss/sass/materialize.scss';

// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";

h4{
  font-family: roboto-thin;
}

brand-logo{
  font-family: light-italic;
}


footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

main {
  flex: 1 0 auto;
}
