extends layout

block content

  .container-fluid
    h1 Chat
    p. socket.io based webchat 
    .container-fluid
      .col-md-8
        .well
          h4 chatTitle 
    p socket.io based webchat 
    .container-fluid
      .well(class="chat-well")
        .form-group
            //maybe material form? feel like it could be styled nicer
            input#myname(class="form-control" type='text', value='myname', placeholder='whats your name?')
            input#channel(class="form-control" type='text', value='public')
            input#join.btn.btn-raised(type='button', value='join')
            input#create.btn.btn-raised(type='button', value='create')
            ul#chat
            .form-group
                .input-group
                  span.input-group-addon
                    input#message(class="form-control", placeholder='say something')
                  span.input-group-btn
                    input#send.btn.btn-info.btn-raised(type='button', value='send')
            script(src='/socket.io/socket.io.js')
            //CDN Routing to handle io error
            //TODO: Merge script out of our chat.jade, it's disoragnized and causing errors.
            script (src='https://cdn.socket.io/socket.io-1.4.5.js')

            script.
              var JOIN_CHANNEL = 'JOIN_CHANNEL';
              var LEAVE_CHANNEL = 'LEAVE_CHANNEL';
              var MESSAGE_CHANNEL = 'MESSAGE_CHANNEL';
              var RECEIVE_MESSAGE = 'RECEIVE_MESSAGE';
              var CREATE_CHANNEL = 'CREATE_CHANNEL';
              var chat = document.getElementById("chat");
              var send = document.getElementById("send");
              var message = document.getElementById("message");
              var myname = document.getElementById("myname");
              var channel = document.getElementById("channel");
              var join = document.getElementById("join");
              var create = document.getElementById("create");
              var ws = io.connect(`http://${location.host}/chat`);
              ws.on('connect', function () {
              console.log("ws connected");
              ws.on('message', function(data) {
              var command = JSON.parse(data);
              switch(command.type) {
              case RECEIVE_MESSAGE:
              var el = document.createElement("li");
              el.innerHTML = `${command.channel} | ${command.message.name} : ${command.message.message}`;
              chat.appendChild(el);
              break;
              }
              });
              });
              var sendMessage = function (message) {
              ws.send(JSON.stringify({
              message,
              type: MESSAGE_CHANNEL,
              channel: channel.value
              }));
              };
              function joinChannel (channel) {
              ws.send(JSON.stringify({
              type: JOIN_CHANNEL,
              channel
              }));
              }
              send.onclick = function (e) {
              sendMessage({
              message: message.value,
              name: myname.value
              });
              };
              create.onclick = function(e) {
              ws.send(JSON.stringify({
              type: CREATE_CHANNEL,
              channel: channel.value
              }));
              };
              join.onclick = function (e) {
              joinChannel(channel.value);
              };
