<template name="compare">
<div class="container-fluid">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <!-- page header -->
      <h1>drugCompare</h1>
    </div>
    <div class="panel panel-default center-align">
      <h6>Select two drugs to see their interaction</h6>
      <div>
        </div>
      </div>
      <!-- TODO: remove out of fluid container, but keep for mobile layout -->
      <div class="card left-align">
        <h7>drugTitle</h7>

      </div>
    </div>
    <button class="btn btn-flat" id="submit">submit</button>

  </div>


</template>
