h1 {
  font-weight: 100;
}


.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
  font-weight: 200;
  background-color: #f48fb1;
}
.footer-copyright {
  background-color: #f06292;
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}
