<template name="profile">
  <!-- {{#if currentUser}} -->
    <div class="container-fluid">
      <div class="col-lg-8">
        <div class="panel panel-default text-center">
          <h1>{{currentUser}}</h1>
        </div>
        <div class="container-fluid">
          <div class="well" id="basic-user-info">

            <img class="img-responsive img-circle" src="https://randomuser.me/api/portraits/lego/1.jpg" />
            <h5>userAge</h5>
            <h5>userSex</h5>
            <h5>userLocation</h5>

          </div>
        </div>
      </div>
    </div>

</template>
