<template name="dashboard">
  <!--this is our task list -->
  <div class="template-dashboard container-fluid">
    <a class="btn-floating btn-large waves-effect waves-light red lighten-2 right" href="{{pathFor 'items.new'}}"><i class="mdi-content-add"></i></a>
    <h1>Dashboard</h1>
    <!-- ITEMS SECTION -->
    <ul class="collection">
      {{#each items}}
        <li class="collection-item avatar">
          <i class="mdi-action-done circle red lighten-2"></i>
          <span class="title">{{ name }}</span>
          <p class="truncate">
            {{ description }}
          </p>
          <span class="secondary-content"><i class="mdi-action-grade"></i> {{ rating }}</span>
          <button class="btn-small btn btn-flat pull-right" id="deleteItem"><i class="fa fa-trash"></i></button>
        </li>
      {{/each}}
    </ul>
  </div>
  <button class="btn-flat btn" id="fitbitLogin"><i class="fa fa-child"></i> Login to FitBit</button>
  <!-- <div class="current-goals container-fluid">
    <a class="btn-floating btn-large waves-effect waves-light red lighten-2 right" href="#"></a>

  </div> -->

</template>
